.forgot-password-container {
  display: flex;
  height: 100%;
  background-color: #f5f5f5;
}

.forgot-password-left {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.title-cointainer h1 {
  font-size: 4rem;
  color: #191516;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

.description-container p {
  font-size: 1.5rem;
  color: #191516;
  margin: 20px 0 5px;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  font-size: 1.2rem;
  color: #191516;
  margin-bottom: 0.4rem;
}

input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button[type="submit"] {
  background-color: #8d6a9f;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.reset-btn:hover {
  background-color: #7c5c89;
}

.forgot-password-right {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: top;
  display: block;
}

.imagenRecuperacion {
  max-width: 100%;
  height: 100%;
}


.recovery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 35px; /* deja espacio para el icono */
}

.toggle-password-icon {
  position: absolute;
  margin-top: 2%;
  right: 10px;
  cursor: pointer;
  color: #000;
}